<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../controller/style.css">
    <title>Edição</title>
</head>
<body>
    <header>
        <h3>Comércio S.A.</h3>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="index.html">Início</a></li>
                <li><a href="cadastro.html">Cadastro</a></li>
                <li><a href="listagem.html">Listagem</a></li>
                <li><a href="busca.html">Busca</a></li>
            </ul>
        </nav>
    </header><br>

    <h2>Área de edição</h2> <br>
    
    <div class="edicao">
        <h3>EDIÇÃO/BUSCA/EXCLUIR</h3><br>
        <form action="" method="post" id="form_edicao">
            <label for="nome">Nome:</label><br>
                <input type="text" name="nome" id="nome" placeholder="Digite o nome..."><br><br>

            <label for="cpf">CPF:</label><br>
                <input type="text" name="cpf" id="cpf" placeholder="Digite o CPF..." maxlength="11"><br><br>

            <button type="submit" id="button_buscar_informacao">Buscar informações</button>
        </form>
    </div><br>

    <hr>

    
    <!-- buscar informações do cliente e mostrar -->

</body>
</html>