<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../controller/style.css">
    <title>Edição</title>
</head>
<body>
    <header>
        <h3>Comércio S.A.</h3>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="index.html">Início</a></li>
                <li><a href="cadastro.html">Cadastro</a></li>
                <li><a href="listagem.html">Listagem</a></li>
                <li><a href="busca-edicao-excluir.html">Busca</a></li>
            </ul>
        </nav>
    </header><br>

    <h2>Área de edição</h2> <br>
    
    <div class="edicao">
        <h3>EDIÇÃO/BUSCA/EXCLUIR</h3><br>
        <form action="" method="post" id="form_edicao">
            <label for="nome">Nome:</label><br>
                <input type="text" name="nome" id="nome" placeholder="Digite o nome..."><br><br>

            <label for="cpf">CPF:</label><br>
                <input type="text" name="cpf" id="cpf" placeholder="Digite o CPF..." maxlength="11"><br><br>

            <button type="submit" id="button_buscar_informacao">Buscar informações</button>
        </form>
    </div><br>

    <hr>

    <!-- buscar informações do cliente e mostrar -->

    <div class="resultadoBusca">
        <h3>Dados do cliente</h3><br>
        <p>Nome: <span id="nomeResultado">Roberto</span></p>
        <p>CPF: <span id="cpfResultado">111.111.111-50</span></p>
        <p>Data de nascimento: <span id="dataNascimentoResultado">03/09/2000</span></p>
        <p>Endereço: <span id="enderecoResultado">Rua das Flores, 123</span></p>
        <p>Telefone: <span id="telefoneBusca">11 99999-8888</span></p>
        <p>E-mail: <span id="emailBusca">robertofariasilvaecosta@gmail.com</span></p>
        <p>Observação: <span id="observacaoBusca">Telefone da esposa</span></p>
    </div><br>

    <div class="botoesEditarExcluir">
        <button id="buttonEditar">Editar</button>
        <button id="buttonExcluir">Excluir</button>
    </div>

    <br><hr><br>

    <!-- parte que vai mostrar os dados para edição -->
    <h3>Edição</h3>

    <form action="" method="post">
        <label>Nome:
            <input type="text" name="" value="Roberto">
        </label>

        <label>CPF:
            <input type="text" name="" value="111.111.111-50">
        </label>

        <label>Data de nascimento:
            <input type="date" id="data" name="" value="2000-09-06" min="1900-01-01">
        </label>

        <label>Endereço:
            <input type="text" name="" value="Rua das Flores, 123">
        </label>

        <label>Telefone:
            <input type="text" name="" value="11 99999-8888">
        </label>

        <label>E-mail:
            <input type="text" name="" value="robertofariasilvaecosta@gmail.com">
        </label>

        <label>Observação:
            <textarea></textarea>
        </label>

        <div class="divButtonSalvar"><button class="buttonSalvar">Salvar</button></div>
    </form>
    
    <script>
        const hoje = new Date().toISOString().split("T")[0];
        document.getElementById("data").setAttribute("max", hoje);
    </script>

    
    

</body>
</html>