<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../controller/style.css">
    <script defer src="busca.js"></script>
    <title>Edição</title>
</head>
<body>
    <header>
        <h3>Comércio S.A.</h3>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="index.html">Início</a></li>
                <li><a href="cadastro.html">Cadastro</a></li>
                <li><a href="listagem.html">Listagem</a></li>
                <li><a href="busca-edicao-excluir.html">Busca</a></li>
            </ul>
        </nav>
    </header><br>

    <h2>Área de edição</h2> <br>
    
    <!-- --- BUSCA DE CLIENTE E CONTATOS PELO CPF --- -->
    <div class="edicao">
        <h3>EDIÇÃO/BUSCA/EXCLUIR</h3><br>

            <label for="cpf">CPF:</label><br>
                <input type="text" name="cpf" id="cpf" placeholder="Digite o CPF..." maxlength="14"><br><br>

            <button onclick="buscarCliente()" id="button_buscar_informacao">Buscar informações</button>

    </div><br>
    <!-- ------------------------------------------------- -->

    <hr>

    <!-- RESULTADO DA BUSCA -->
    <div class="resultadoBusca">
        <h3>Dados do cliente</h3><br>
        <p>Nome: <input type="text" readonly id="nome"></input type="text" readonly></p>
        <p>CPF: <input type="text" readonly id="cpfResult"></input type="text" readonly></p>
        <p>Data de nascimento: <input type="date" readonly id="dataNascimento"></input type="text" readonly></p>
        <p>Endereço: <input type="text" readonly id="endereco"></input type="text" readonly></p>
        <div id="contatosCliente"></div>
    </div>
    <div class="botoesEditarExcluir">
        <button id="buttonEditar" onclick="editar()">Editar</button>
        <button id="buttonSalvar" onclick="salvarEdicao()">Salvar</button>
        <button id="buttonExcluir" onclick="excluir()">Excluir</button>
    </div>

    <br>

    <script>
        const hoje = new Date().toISOString().split("T")[0];
        document.getElementById("dataNascimento").setAttribute("max", hoje);
    </script>

    
    

</body>
</html>