<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../controller/style.css">
  <script src="cadastrar.js" defer></script>
  <title>Cadastro</title>
</head>

<body>
  <header>
    <h3>Comércio S.A.</h3>
    <nav class="nav">
      <ul class="nav-list">
        <li><a href="index.html">Início</a></li>
        <li><a href="cadastro.html">Cadastrar</a></li>
        <li><a href="listagem.html">Listagem</a></li>
        <li><a href="busca-edicao-excluir.html">Buscar</a></li>
      </ul>
    </nav>
  </header><br>

  <h2>Área de cadastro de clientes</h2> <br>

  <div class="cadastro">
    <h3>CADASTRAR</h3>
    <form id="form_cadastro">
      <label for="nome">Nome:
        <input type="text" name="nome" id="nome" placeholder="Digite o nome..." required>
      </label><br><br>

      <label for="cpf">CPF:
        <input type="text" name="cpf" id="cpf" placeholder="Digite o CPF..." maxlength="14" required>
      </label><br><br>

      <label>Data de nascimento:
        <input type="date" name="data_nascimento" id="data_nascimento" min="1900-01-01">
      </label><br><br>

      <label for="endereco">Endereço:
        <input type="text" name="endereco" id="endereco" placeholder="Digite o endereço...">
      </label><br>

      <br>
      <h4>Contatos</h4><br>
      <div id="contato"></div>
      <button class="btn-adicionar-contato" type="button" onclick="adicionarContato()">Adicionar Contato</button><br><br>

      <button type="submit" id="button_cadastrar">Cadastrar</button>
    </form>
  </div><br>

  <script>
    // script para formatar o cpf
    const hoje = new Date().toISOString().split("T")[0];
    document.getElementById("data_nascimento").setAttribute("max", hoje);

    document.getElementById("cpf").addEventListener("input", function(event) {
            let input = event.target;
            let value = input.value.replace(/\D/g, ''); 
            if (value.length > 9) {
                value = value.replace(/(\d{3})(\d{3})(\d{3})(\d{1,2})/, "$1.$2.$3-$4");
            } else {
                value = value.replace(/(\d{3})(\d{3})(\d{1,3})/, "$1.$2.$3");
            }
            input.value = value;
        });
  </script>

</body>

</html>