<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../controller/style.css">
    <title>Cadastro</title>
</head>
<body>
    <header>
        <h3>Comércio S.A.</h3>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="index.html">Início</a></li>
                <li><a href="cadastro.html">Cadastro</a></li>
                <li><a href="listagem.html">Listagem</a></li>
                <li><a href="busca-edicao-excluir.html">Busca</a></li>
            </ul>
        </nav>
    </header><br>

    <h2>Área de cadastro de clientes</h2> <br>

    <div class="cadastro">
        <h3>CADASTRAR</h3>
        <form action="" method="post" id="form_cadastro">
            <label for="nome">Nome:</label><br>
                <input type="text" name="nome" id="nome" placeholder="Digite o nome..." required><br><br>

            <label for="cpf">CPF:</label><br>
                <input type="text" name="cpf" id="cpf" placeholder="Digite o CPF..." maxlength="11" required><br><br>

            <label for="data_nascimento">Data de nascimento:</label><br>
                <input type="date" name="data_nascimento" id="data_nascimento"><br><br>
                
            <label for="endereco">Endereço:</label><br>
                <input type="text" name="endereco" id="endereco" placeholder="Digite o endereço..."><br><br>

            <label for="telefone">Telefone:</label><br>
                <input type="text" name="telefone" id="telefone" placeholder="Digite o telefone..."><br><br>

            <label for="email">E-mail:</label><br>
                <input type="email" name="email" id="email" placeholder="Digite o e-mail..."><br><br>
            
            <label for="observacao">Observação:</label><br>
                <textarea name="observacao" id="observacao"></textarea><br><br>

            <button type="submit" id="button_cadastrar">Cadastrar</button> 
        </form>
    </div><br>
    <!-- ainda precisa decidir como fazer a parte de contato -->

</body>
</html>