<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../controller/style.css">
    <title>Início</title>
</head>
<body>
    <header>
        <h3>Comércio S.A.</h3>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="index.html">Início</a></li>
                <li><a href="cadastro.html">Cadastrar</a></li>
                <li><a href="listagem.html">Listagem</a></li>
                <li><a href="busca-edicao-excluir.html">Buscar</a></li>
            </ul>
        </nav>
    </header><br><br>

    <h1 class="titulo_inicio">Bem-vindo à agenda digital</h1> 

    <br><br>

    <div class="explicacao">
        <p>Aqui você tem acesso à agenda digitar da empresa Comércio S.A.</p>
        <p>Essas são as funções do site:</p>
    </div>

    <br><br>

    <div class="div-btns-index">
        <button class="btn-index-cadastrar"><a href="cadastro.html">CADASTRAR</a></button>
        <button class="btn-index-listagem"><a href="listagem.html">LISTAGEM</a></button>
        <button class="btn-index-buscar"><a href="busca-edicao-excluir.html">BUSCAR</a></button>
    </div>


</body>
</html>