<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../controller/style.css">
    
    <title>Listagem</title>
</head>
<body>
    <header>
        <h3>Comércio S.A.</h3>
        <nav class="nav">
            <ul class="nav-list">
                <li><a href="index.html">Início</a></li>
                <li><a href="cadastro.html">Cadastro</a></li>
                <li><a href="listagem.html">Listagem</a></li>
                <li><a href="busca-edicao-excluir.html">Busca</a></li>
            </ul>
        </nav>
    </header><br>

    <h2>Listagem de clientes</h2> <br>
    
    <!-- ao entrar, vai aparecer uma listagem mostrando todas as informações dos clientes -->

    <table class="resultadoListagem">
        <thead class="a">
            <tr>
                <th class="colunaListagem">Nome</th>
                <th class="colunaListagem">CPF</th>
                <th class="colunaListagem">Data de nascimento</th>
                <th class="colunaListagem">Endereço</th>
                <th class="colunaListagem">Tipo</th>
                <th class="colunaListagem">Contato</th>
                <th class="colunaListagem">Observação</th>
            </tr>
        </thead>
        <tbody id="tabela-cliente-contatos">
            <!-- <tr>
                <td class="linhaListagem">Roberto</td>
                <td class="linhaListagem">111.111.111-50</td>
                <td class="linhaListagem">06/08/2000</td>
                <td class="linhaListagem">Rua das Flores, 123</td>
                <td class="linhaListagem">11 99999-8888</td>
                <td class="linhaListagem">robertofariasilvaecosta@gmail.com</td>
                <td class="linhaListagem">Telefone da esposa</td>
            </tr>
            <tr>
                <td class="linhaListagem">Ana</td>
                <td class="linhaListagem">222.222.222-90</td>
                <td class="linhaListagem">21/04/1987</td>
                <td class="linhaListagem">Rua legal, 890</td>
                <td class="linhaListagem">19 97666-8558</td>
                <td class="linhaListagem">ana@gmail.com</td>
                <td class="linhaListagem"></td> -->
            <!-- </tr> -->
        </tbody>
    </table>
    <script defer src="script.js"></script>

</body>
</html>